.panel {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width : 300px;
  background: #FFF;
  height: 100%;
  box-shadow: 0 0 3px #666;
  padding: 20px;
  transition: all 1s ease;
}

.panel.hidden {
  transform: translateX(-340px);
}

.panel-close {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: 0 0 5px #666;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.panel-content {
  margin-top: 20px;
}
